.Formulario{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}


.form-inputs {
  margin-bottom: 0.8rem;
  width: 100%;
  margin: 10px 30px;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #ffffff;
}
.form-input {
  padding: 15px;
  margin: 3px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
  width: 70%;
  
}
.form-label {
  font-size: 20px;
  color: rgb(77, 178, 206);
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
.form-input::placeholder {
  color: rgba(1, 61, 77, 0.509);
  font-size: 18px;
}
.form-input-btn {
  width: 80%;
  height: 70px;
  padding: 15px;
  margin-top: 10px;
  border-radius: 2px;
  margin: 10px 30px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: rgb(1, 61, 77);
  font-size: 1.5rem;
}
.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
  color: rgb(255, 255, 255);
}

.form h1 {
  font-size: 3rem;
  text-align:center;
  margin: 10px 35px;
  size-adjust:inherit;
  width: 80%;
  margin-bottom: 0.5rem;
  color: rgb(77, 178, 206);
  background-size: cover;
  align-items: center;
  background-size: cover;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.form h2{
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: double;
}
.form-content-right {
  display: flex;
  height: 100%;  
  background-position: center ;
  background-color: rgb(15, 138, 138);
  justify-content: center;
  padding:  15px 1px 100px;
}
.form {
  display: flex;
  flex-direction:column;
  direction:center;
  flex: center;
  width: 500px;
  background-color: rgb(10, 85, 102);
  padding: 20px 20px 20px;
  border-radius: 10px;
  position: relative;
  justify-content: center;
}
  .link{
    width: 40%;
    height: 50px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 2px;
    margin: 5px 110px;
    background:
      rgb(225, 89, 89) 100%
    ;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 0.84rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: double;
    font-size: 1.5rem;
  }